<!-- cart mini area start -->
<div class="cartmini__area">
    <div class="cartmini__wrapper" [class.opened]="sidebarCartActive">
        <div class="cartmini__title">
            <h4>Shopping cart</h4>
        </div>
        <div class="cartmini__close">
            <button type="button" class="cartmini__close-btn" (click)="cartclick()">
                <i class="fal fa-times"></i>
            </button>
        </div>
        <div class="cartmini__widget">
            <div class="cartmini__inner">
                <ul>
                    <li>
                        <div class="cartmini__thumb">
                            <a href="#">
                                <img src="assets/img/products/product-thumb-01.png" alt="image not found">
                            </a>
                        </div>
                        <div class="cartmini__content">
                            <h5><a href="#">Turn Yourself</a></h5>
                            <div class="product-quantity mt-10 mb-10">
                                <span class="cart-minus" (click)="counter('count', 'subtract')">-</span>
                                <p class="cart-input">{{ counters['count'] }}</p>
                                <span class="cart-plus" (click)="counter('count', 'add')">+</span>
                            </div>
                            <div class="product__sm-price-wrapper">
                                <span class="product__sm-price">$24.00</span>
                            </div>
                        </div>
                        <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                    <li>
                        <div class="cartmini__thumb">
                            <a href="#">
                                <img src="assets/img/products/product-thumb-02.png" alt="image not found">
                            </a>
                        </div>
                        <div class="cartmini__content">
                            <h5><a href="#">Art of Not Giving</a></h5>
                            <div class="product-quantity mt-10 mb-10">
                                <span class="cart-minus" (click)="counter('count1', 'subtract')">-</span>
                                <p class="cart-input">{{ counters['count1'] }}</p>
                                <span class="cart-plus" (click)="counter('count1', 'add')">+</span>
                            </div>
                            <div class="product__sm-price-wrapper">
                                <span class="product__sm-price">$12.00</span>
                            </div>
                        </div>
                        <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                    <li>
                        <div class="cartmini__thumb">
                            <a href="#">
                                <img src="assets/img/products/product-thumb-03.png" alt="image not found">
                            </a>
                        </div>
                        <div class="cartmini__content">
                            <h5><a href="#">Attract Women</a></h5>
                            <div class="product-quantity mt-10 mb-10">
                                <span class="cart-minus" (click)="counter('count2', 'subtract')">-</span>
                                <p class="cart-input">{{ counters['count2'] }}</p>
                                <span class="cart-plus" (click)="counter('count2', 'add')">+</span>
                            </div>
                            <div class="product__sm-price-wrapper">
                                <span class="product__sm-price">$42.00</span>
                            </div>
                        </div>
                        <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                </ul>
            </div>
            <div class="cartmini__checkout">
                <div class="cartmini__checkout-title mb-30">
                    <h4>Subtotal:</h4>
                    <span>$78.00</span>
                </div>
            </div>
            <div class="cartmini__viewcart">
                <a [routerLink]="['/cart']" class='edu-sec-btn'>View cart</a>
                <a [routerLink]="['/checkout']" class='edu-sec-btn'>Checkout</a>
            </div>
        </div>
    </div>
</div>
<div class="body-overlay" [class.opened]="sidebarCartActive" (click)="cartclick()"></div>
<div class="body-overlay" [class.opened]="sidebarInfoActive" (click)="infoclick()"></div>
<!-- cart mini area end -->

<!-- side toggle start -->

<div class="fix">
    <div class="side-info" [class.opened]="sidebarInfoActive">
        <div class="side-info-content">
            <div class="offset-widget offset-logo mb-40">
                <div class="row align-items-center">
                    <div class="col-9 d-flex gap-2 align-items-center">
                        <a (click)="onBackToHome()">
                            <img [src]="Identitas?.logo" alt="logo" style="height: 1.75rem">
                        </a>
                        <!-- <span [innerHTML]="Identitas?.instansi" class="text-center lh-sm" style="font-size: 14px">
                        </span> -->
                    </div>
                    <div class="col-3 text-end">
                        <button class="side-info-close" (click)="infoclick()">
                            <i class="fal fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- <app-mobilemenu></app-mobilemenu> -->

            <app-mobilemenu-two></app-mobilemenu-two>
        </div>
    </div>
</div>
<div class="offcanvas-overlay-white"></div>


<header>
    <div class="header-top-area d-none d-lg-block" style="background-color: #0d0d0d;">
        <div class="container-fluid">
            <div class="header-top-inner">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-4">
                        <div class="header-top-icon d-flex gap-2 align-items-center">
                            <div class="category-menu">
                                <div class="Category-click">
                                    <figure class="cattext">
                                        <i class="fas fa-th-large"></i>
                                        <span class="text-white">Sistem Informasi</span>
                                    </figure>
                                    <div class="dropdown-category">
                                        <app-categorymenu></app-categorymenu>
                                    </div>
                                </div>
                            </div>
                            <!-- <a href="tel:(555)674890556">
                                <i class="fas fa-phone"></i>
                                <span *ngIf="Identitas?.telepon" class="text-white">
                                    {{ Identitas?.telepon }}
                                </span>
                                <span *ngIf="!Identitas?.telepon" class="text-white">
                                    -
                                </span>
                            </a>
                            <a href="mailto:info@example.com">
                                <i class="fal fa-envelope"></i>
                                <span *ngIf="Identitas?.email" class="text-white">
                                    {{ Identitas?.email }}
                                </span>
                                <span *ngIf="!Identitas?.email" class="text-white">
                                    -
                                </span>
                            </a>
                            <a>
                                <i class="fal fa-map-marker-alt"></i>
                                <span *ngIf="Identitas?.alamat" class="text-white">
                                    {{ Identitas?.alamat }}
                                </span>
                                <span *ngIf="!Identitas?.alamat" class="text-white">
                                    -
                                </span>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <div class="header-top-login d-flex f-right">
                            <div class="header-social">
                                <a *ngFor="let item of TopMenu" href="{{ item.id_konten }}" target="_blank"
                                    class="text-white me-2" style="font-size: 12px;">
                                    {{ item.nama_menu }}
                                </a>
                                <!-- <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="https://vimeo.com/" target="_blank"><i class="fab fa-vimeo-v"></i></a>
                                <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .header-are-start -->
    <div class="header-area-2 sticky-header" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
        <div class="container-fluid">
            <div class="header-main-wrapper">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo d-flex align-items-center gap-3">
                            <a (click)="onBackToHome()">
                                <img [src]="Identitas?.logo" alt="logo" style="height: 3rem">
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-main-right d-flex justify-content-end">
                            <div class="main-menu mx-auto main-menu-lg-block">
                                <app-mainmenu></app-mainmenu>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto d-lg-none">
                        <div class="header-btn">
                            <div class="menu-bar ml-20">
                                <a class="side-toggle header-2" href="javascript:void(0)" (click)="infoclick()">
                                    <div class="bar-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-area-end -->
</header>