<!-- cart mini area start -->
<div class="cartmini__area">
    <div class="cartmini__wrapper" [class.opened]="sidebarCartActive">
        <div class="cartmini__title">
            <h4>Shopping cart</h4>
        </div>
        <div class="cartmini__close">
            <button type="button" class="cartmini__close-btn" (click)="cartclick()"><i
                    class="fal fa-times"></i></button>
        </div>
        <div class="cartmini__widget">
            <div class="cartmini__inner">
                <ul>
                    <li>
                        <div class="cartmini__thumb">
                            <a href="#">
                                <img src="assets/img/products/product-thumb-01.png" alt="image not found">
                            </a>
                        </div>
                        <div class="cartmini__content">
                            <h5><a href="#">Turn Yourself</a></h5>
                            <div class="product-quantity mt-10 mb-10">
                                <span class="cart-minus" (click)="counter('count', 'subtract')">-</span>
                                <p class="cart-input">{{ counters['count'] }}</p>
                                <span class="cart-plus" (click)="counter('count', 'add')">+</span>
                            </div>
                            <div class="product__sm-price-wrapper">
                                <span class="product__sm-price">$24.00</span>
                            </div>
                        </div>
                        <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                    <li>
                        <div class="cartmini__thumb">
                            <a href="#">
                                <img src="assets/img/products/product-thumb-02.png" alt="image not found">
                            </a>
                        </div>
                        <div class="cartmini__content">
                            <h5><a href="#">Art of Not Giving</a></h5>
                            <div class="product-quantity mt-10 mb-10">
                                <span class="cart-minus" (click)="counter('count1', 'subtract')">-</span>
                                <p class="cart-input">{{ counters['count1'] }}</p>
                                <span class="cart-plus" (click)="counter('count1', 'add')">+</span>
                            </div>
                            <div class="product__sm-price-wrapper">
                                <span class="product__sm-price">$12.00</span>
                            </div>
                        </div>
                        <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                    <li>
                        <div class="cartmini__thumb">
                            <a href="#">
                                <img src="assets/img/products/product-thumb-03.png" alt="image not found">
                            </a>
                        </div>
                        <div class="cartmini__content">
                            <h5><a href="#">Attract Women</a></h5>
                            <div class="product-quantity mt-10 mb-10">
                                <span class="cart-minus" (click)="counter('count2', 'subtract')">-</span>
                                <p class="cart-input">{{ counters['count2'] }}</p>
                                <span class="cart-plus" (click)="counter('count2', 'add')">+</span>
                            </div>
                            <div class="product__sm-price-wrapper">
                                <span class="product__sm-price">$42.00</span>
                            </div>
                        </div>
                        <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
                    </li>
                </ul>
            </div>
            <div class="cartmini__checkout">
                <div class="cartmini__checkout-title mb-30">
                    <h4>Subtotal:</h4>
                    <span>$78.00</span>
                </div>
            </div>
            <div class="cartmini__viewcart">
                <a [routerLink]="['/cart']" class='edu-sec-btn'>View cart</a>
                <a [routerLink]="['/checkout']" class='edu-sec-btn'>Checkout</a>
            </div>
        </div>
    </div>
</div>
<div class="body-overlay" [class.opened]="sidebarCartActive" (click)="cartclick()"></div>
<div class="body-overlay" [class.opened]="sidebarInfoActive" (click)="infoclick()"></div>
<!-- cart mini area end -->

<!-- side toggle start -->

<div class="fix">
    <div class="side-info" [class.opened]="sidebarInfoActive">
        <div class="side-info-content">
            <div class="offset-widget offset-logo mb-40">
                <div class="row align-items-center">
                    <div class="col-9 d-flex gap-2 align-items-center">
                        <a [routerLink]="['/']">
                            <img [src]="Identitas?.logo" alt="logo" style="height: 3rem">
                        </a>
                        <!-- <span [innerHTML]="Identitas?.instansi" class="text-center lh-sm" style="font-size: 14px">
                        </span> -->
                    </div>
                    <div class="col-3 text-end">
                        <button class="side-info-close" (click)="infoclick()">
                            <i class="fal fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>

            <app-mobilemenu></app-mobilemenu>

            <div class="offset-widget offset_searchbar mb-30">
                <div class="menu-search position-relative ">
                    <form action="#" class="filter-search-input">
                        <input type="text" placeholder="Search keyword">
                        <button><i class="fal fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="offset-widget offset_menu-top mb-20">
                <div class="header-menu-top-icon mb-20">
                    <a href="#"><i class="fas fa-phone"></i>(555) 674 890 556</a>
                    <a href="#"><i class="fal fa-envelope"></i>info@example.com</a>
                    <i class="fal fa-map-marker-alt"></i><span>3rd Avenue, San Francisco</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay-white"></div>
<!-- side toggle end -->


<header>
    <!-- header-top start-->
    <div class="header-top-area d-none d-lg-block" style="background-color: #0d0d0d;">
        <div class="container-fluid">
            <div class="header-top-inner">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="header-top-icon d-flex gap-2 align-items-center">
                            <div class="category-menu">
                                <div class="Category-click">
                                    <figure class="cattext">
                                        <i class="fas fa-th-large"></i>
                                        <span class="text-white">Sistem Informasi</span>
                                    </figure>
                                    <div class="dropdown-category">
                                        <app-categorymenu></app-categorymenu>
                                    </div>
                                </div>
                            </div>
                            <a href="tel:(555)674890556">
                                <i class="fas fa-phone"></i>
                                <span *ngIf="Identitas?.telepon" class="text-white">
                                    {{ Identitas?.telepon }}
                                </span>
                                <span *ngIf="!Identitas?.telepon" class="text-white">
                                    -
                                </span>
                            </a>
                            <a href="mailto:info@example.com">
                                <i class="fal fa-envelope"></i>
                                <span *ngIf="Identitas?.email" class="text-white">
                                    {{ Identitas?.email }}
                                </span>
                                <span *ngIf="!Identitas?.email" class="text-white">
                                    -
                                </span>
                            </a>
                            <a>
                                <i class="fal fa-map-marker-alt"></i>
                                <span *ngIf="Identitas?.alamat" class="text-white">
                                    {{ Identitas?.alamat }}
                                </span>
                                <span *ngIf="!Identitas?.alamat" class="text-white">
                                    -
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="header-top-login d-flex f-right">
                            <div class="header-social">
                                <a href="https://www.facebook.com/" target="_blank"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="https://vimeo.com/" target="_blank"><i class="fab fa-vimeo-v"></i></a>
                                <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .header-are-start -->
    <div class="header-area-2 sticky-header" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
        <div class="container-fluid">
            <div class="header-main-wrapper">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <!-- <div class="header-logo">
                            <a [routerLink]="['/']"><img src="assets/img/logo/logo-black.png" alt="img"></a>
                        </div> -->
                        <div class="header-logo d-flex align-items-center gap-3">
                            <a [routerLink]="['/']">
                                <img [src]="Identitas?.logo" alt="logo" style="height: 3rem">
                            </a>
                            <span [innerHTML]="Identitas?.instansi" class="text-center lh-sm fs-6">
                            </span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-main-right d-flex justify-content-end">
                            <div class="main-menu mx-auto main-menu-lg-block">
                                <app-mainmenu></app-mainmenu>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-btn">
                            <!-- <div class="cart-wrapper mr-45">
                                <a href="javascript:void(0);" class="cart-toggle-btn" (click)="cartclick()">
                                    <div class="header__cart-icon p-relative">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19.988" height="19.988"
                                            viewBox="0 0 19.988 19.988">
                                            <g id="trolley-cart" transform="translate(-1 -1)">
                                                <path id="Path_36" data-name="Path 36"
                                                    d="M1.666,2.333H3.8L6.159,12.344a1.993,1.993,0,0,0,.171,3.98H17.656a.666.666,0,1,0,0-1.333H6.33a.666.666,0,0,1,0-1.333H17.578a1.992,1.992,0,0,0,1.945-1.541l1.412-6a2,2,0,0,0-1.946-2.456H5.486L4.98,1.514A.666.666,0,0,0,4.331,1H1.666a.666.666,0,0,0,0,1.333ZM18.989,5a.677.677,0,0,1,.649.819l-1.412,6a.662.662,0,0,1-.648.514H7.524L5.8,5Z"
                                                    transform="translate(0 0)" fill="#141517" />
                                                <path id="Path_37" data-name="Path 37"
                                                    d="M20,27a2,2,0,1,0,2-2A2,2,0,0,0,20,27Zm2.665,0A.666.666,0,1,1,22,26.333.666.666,0,0,1,22.665,27Z"
                                                    transform="translate(-6.341 -8.01)" fill="#141517" />
                                                <path id="Path_38" data-name="Path 38"
                                                    d="M9,27a2,2,0,1,0,2-2A2,2,0,0,0,9,27Zm2.665,0A.666.666,0,1,1,11,26.333.666.666,0,0,1,11.665,27Z"
                                                    transform="translate(-2.67 -8.01)" fill="#141517" />
                                            </g>
                                        </svg>
                                        <span class="item-number">3</span>
                                    </div>
                                </a>
                            </div> -->
                            <!-- <a class="edu-four-btn d-none d-lg-block" [routerLink]="['/signin']">Enroll now</a> -->
                            <div class="menu-bar">
                                <a class="side-toggle header-2" href="javascript:void(0)" (click)="infoclick()">
                                    <div class="bar-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-area-end -->
</header>