<!-- blog-area-start -->
<div class="blog-area pt-110 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="section-title mb-50">
                    <h2 *ngIf="!title">Baca Berita <span class="down-mark-line-2">Terbaru</span> Kami</h2>
                    <h2 *ngIf="title">
                        <span class="down-mark-line-2">
                            {{ title }}
                        </span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div *ngFor="let item of Berita"
                [class]="forDetailBerita ? 'col-xl-12 col-lg-12 col-md-12' : 'col-xl-4 col-lg-4 col-md-6'">
                <div class="blog-wrapper position-relative mb-30">
                    <div *ngIf="!forDetailBerita" class="blog-thumb">
                        <a (click)="handleRoute(item.judul)">
                            <img [src]="item.photo ? item.photo.gambar : ''" alt="img" class="image_blog">
                        </a>
                    </div>
                    <a *ngIf="!forDetailBerita" class="blog-tag">
                        <i class="fal fa-folder-open"></i>
                        {{ item.kategori }}
                    </a>
                    <div class="blog-content-wrapper">
                        <div class="blog-meta">
                            <div class="blog-date">
                                <i class="flaticon-calendar"></i>
                                <span>
                                    {{ item.tanggal }}
                                </span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a (click)="handleRoute(item.judul)">
                                <h3 *ngIf="!forDetailBerita">
                                    {{
                                    item.judul.length > 60
                                    ? (item.judul | slice: 0: 60) + '...'
                                    : item.judul + '...'
                                    }}
                                </h3>
                                <h5 *ngIf="forDetailBerita" class="mb-0" style="color: #003971;">
                                    {{ item.judul }}
                                </h5>
                            </a>
                            <a *ngIf="!forDetailBerita" class="blog-btn" (click)="handleRoute(item.judul)">Baca
                                Selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="blog-wrapper position-relative mb-30">
                    <div class="blog-thumb ">
                        <a [routerLink]="['/blog-details']"><img src="assets/img/blog/blog-02.jpg" alt="blog-img"></a>
                    </div>
                    <a [routerLink]="['/blog']" class="blog-tag">
                        <i class="fal fa-folder-open"></i>
                        Business
                    </a>
                    <div class="blog-content-wrapper">
                        <div class="blog-meta">
                            <div class="blog-date">
                                <i class="flaticon-calendar"></i>
                                <span>13 Jan 2022</span>
                            </div>
                            <div class="blog-user">
                                <i class="flaticon-avatar"></i>
                                <span>Mark Hanry</span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a [routerLink]="['/blog-details']">
                                <h3>Stop Redesigning And Start Your Tuning Your Site Instead</h3>
                            </a>
                            <a class="blog-btn" [routerLink]="['/blog-details']">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="blog-wrapper position-relative mb-30">
                    <div class="blog-thumb ">
                        <a [routerLink]="['/blog-details']"><img src="assets/img/blog/blog-03.jpg" alt="blog-img"></a>
                    </div>
                    <a [routerLink]="['/blog']" class="blog-tag">
                        <i class="fal fa-folder-open"></i>
                        Web Design
                    </a>
                    <div class="blog-content-wrapper">
                        <div class="blog-meta">
                            <div class="blog-date">
                                <i class="flaticon-calendar"></i>
                                <span>23 Dec 2022</span>
                            </div>
                            <div class="blog-user">
                                <i class="flaticon-avatar"></i>
                                <span>Eduman</span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a [routerLink]="['/blog-details']">
                                <h3>How To Teach Web Design to the New Students</h3>
                            </a>
                            <a class="blog-btn" [routerLink]="['/blog-details']">Read more</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="blog-btn" [routerLink]="['/blog']">Lihat Semua</a>
            </div>
        </div>
    </div>
</div>
<!-- blog-area-end -->