<app-headertwo *ngIf="!forSection"></app-headertwo>

<app-faqbanner *ngIf="!forSection"></app-faqbanner>
<!-- faq-area-start -->
<div class="faq-topic-area pb-90">
    <div class="container">

        <div class="row">
            <div class="col-xl-12">
                <div class="faq-area pt-30 pb-30">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="faq-tittle-info text-center pt-55 mb-50">
                                <h3>Frequently Asked Questions</h3>
                            </div>
                        </div>

                        <div class="col-xl-12 mb-3">
                            <app-faqtopic [kategori]="Kategori" (onClick)="handleClickKategori($event)"></app-faqtopic>
                        </div>

                        <div *ngFor="let item of Faq" class="col-xl-12 col-lg-12" (click)="handleClickFaq(item)">
                            <div class="faq-wrapper mb-3">
                                <div class="faq-question-item">
                                    <div class="row" style="width: 100%;">
                                        <div class="col-12 d-flex just justify-content-between mb-3"
                                            style="width: 100%;">
                                            <div class="faq-queastion-text">
                                                <a>
                                                    {{ item.pertanyaan }}
                                                </a>
                                            </div>
                                            <div class="faqicon-arrow">
                                                <a>
                                                    <i class="far fa-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-12 {{ Active == item.urutan ? 'd-flex' : 'd-none' }}">
                                            <div [innerHTML]="item.jawaban"
                                                style="font-size: 13px; line-height: normal;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq-area-end -->

    <app-footerone *ngIf="!forSection"></app-footerone>