<app-headertwo *ngIf="!forSection"></app-headertwo>

<div *ngIf="!forSection" class="features-area pt-45 pb-15" [style.background-image]="'url(assets/img/fact/fact.png)'"
    style="background-position: bottom; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div *ngIf="!forSection" class="col-xl-12">
                <div class="faq-tittle-info text-center pt-55 mb-50 text-white">
                    <h3>Frequently Asked Questions</h3>
                </div>
            </div>

            <div *ngIf="!forSection" class="col-xl-12 mb-3">
                <app-faqtopic [kategori]="Kategori" (onClick)="handleClickKategori($event)" [forSection]="forSection">
                </app-faqtopic>
            </div>
        </div>
    </div>
</div>

<!-- faq-area-start -->
<div class="faq-topic-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="faq-area pt-30 pb-30">
                    <div class="row">
                        <div *ngIf="forSection" class="col-xl-12">
                            <div class="faq-tittle-info text-center pt-55 mb-50">
                                <h3>Frequently Asked Questions</h3>
                            </div>
                        </div>

                        <div *ngIf="forSection" class="col-xl-12 mb-3">
                            <app-faqtopic [kategori]="Kategori" (onClick)="handleClickKategori($event)"></app-faqtopic>
                        </div>

                        <div *ngFor="let item of Faq" class="col-xl-12 col-lg-12" (click)="handleClickFaq(item)">
                            <div class="faq-wrapper mb-3">
                                <div class="faq-question-item">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="faq-queastion-text d-flex jusitfy-content-between">
                                                <a>
                                                    {{ item.pertanyaan }}
                                                </a>
                                            </div>
                                        </div>

                                        <div
                                            class="row {{ Active == item.urutan ? 'd-flex border-top mt-2 pt-2' : 'd-none' }}">
                                            <div class="col-12" [innerHTML]=" item.jawaban"
                                                style="font-size: 12px; line-height: normal;" class="jawaban">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq-area-end -->

    <app-footerone *ngIf="!forSection"></app-footerone>