<nav id="mobile-menu">
    <ul>
        <li *ngFor="let item of Menu" class="{{ item.children ? 'menu-item-has-children' : '' }} ">
            <a *ngIf="!item.children && item.nama_menu != 'Tentang Kami'" (click)="onClickMenu(item)"
                class="text-white">
                {{ item.nama_menu }}
            </a>
            <a *ngIf="item.nama_menu == 'Tentang Kami'" [routerLink]="['/tentang-kami']" class="text-white">
                {{ item.nama_menu }}
            </a>
            <a *ngIf="item.children && item.nama_menu != 'Tentang Kami'" class="text-white">
                {{ item.nama_menu }}
            </a>
            <ul *ngIf="item.children" class="sub-menu">
                <li *ngFor="let data of item.children" class="{{ data.children ? 'menu-item-has-children' : '' }}">
                    <a *ngIf="!data.children" (click)="onClickMenu(data, item)">
                        {{ data.nama_menu }}
                    </a>
                    <a *ngIf="data.children">
                        {{ data.nama_menu }}
                    </a>
                    <ul *ngIf="data.children" class="sub-menu">
                        <li *ngFor="let subdata of data.children">
                            <a (click)="onClickMenu(subdata, item)">
                                {{ subdata.nama_menu }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>