<!-- categories-area start -->
<div class="categories-area grey-2 pt-110 pb-90 position-relative">
    <div class="category-shap-02">
        <img src="assets/img/shape/categorey-shap-02.png" alt="image not found">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-20">
                <div class="section-title mb-30">
                    <h2>Apa Kata <span class="down-mark-line-2">Mereka</span></h2>
                </div>
            </div>
            <div>
                <div class="category-main-wrapper position-relative">
                    <div class="category-shap-01">
                        <img src="assets/img/shape/categorey-shap-01.png" alt="image not found">
                    </div>
                    <div>
                        <div class="category-slide-wrapper position-relative">
                            <div class="category-active">
                                <div class="swiper-wrapper">
                                    <swiper class="mySwiper" [slidesPerView]="1" [spaceBetween]="30" [loop]="true"
                                        [autoplay]="{
                                            delay: 2500,
                                            disableOnInteraction: false
                                        }" [navigation]="{
                                            nextEl: '.category-button-next',
                                            prevEl: '.category-button-prev'
                                        }" [breakpoints]="{
                                            '320': {
                                                slidesPerView: 1,
                                                spaceBetween: 15
                                            },
                                            '480': {
                                                slidesPerView: 1,
                                                spaceBetween: 15
                                            },
                                            '640': {
                                                slidesPerView: 2,
                                                spaceBetween: 15
                                            },
                                            '991': {
                                                slidesPerView: 3,
                                                spaceBetween: 30
                                            },
                                            '1200': {
                                                slidesPerView: 3,
                                                spaceBetween: 30
                                            },
                                            '1400': {
                                                slidesPerView: 3,
                                                spaceBetween: 30
                                            }
                                        }">

                                        <ng-template *ngFor="let item of Testimoni" swiperSlide>
                                            <a>
                                                <div class="categories-wrapper text-center mb-30" style="height: 33rem">
                                                    <div class="categiories-thumb mb-4">
                                                        <img [src]="item.photo" alt="" class="image_testimoni">
                                                    </div>
                                                    <div class="categories-content">
                                                        <h4>
                                                            {{ item.nama }}
                                                        </h4>
                                                        <p>
                                                            {{ item.keterangan_singkat }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </ng-template>
                                    </swiper>
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="category-nav">
                                <div class="category-button-prev"><i class="far fa-long-arrow-left"></i></div>
                                <div class="category-button-next"><i class="far fa-long-arrow-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- categories-area end -->