<!-- hero-area-start -->
<!-- [style.background-image]="'url(assets/img/slider/course-slider.jpg)'" -->
<div class="container pt-4">
    <div class="row">
        <div class="col-xl-12">
            <div class="course-title-breadcrumb mb-2">
                <nav>
                    <ol class="breadcrumb mb-2">
                        <li class="breadcrumb-item ">
                            <a [routerLink]="['/']" class="text-blue">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <span class="text-blue">
                                {{breadcrumbSubTitle ? breadcrumbSubTitle :"Courses"}}
                            </span>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="hero-course-1-text mb-3">
                <h3 class="text-blue">{{breadcrumbTitle ? breadcrumbTitle : "Courses"}}</h3>
            </div>
        </div>
    </div>
</div>
<!-- hero-area-end -->