.backgroundExist {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.backgroundNotExist {
  background-color: rgb(203 213 225);
}

.padding-blog {
  padding-left: 7rem;
  padding-right: 7rem;
}
