<app-headertwo></app-headertwo>

<!-- hero-area-start -->
<div class="py-5"
    [style.background-image]="PageDetail?.utama?.url_gambar?.length ? 'url(' + PageDetail?.utama?.url_gambar  + ')' : ''"
    class="{{ PageDetail?.utama?.url_gambar?.length ? 'backgroundExist' : 'backgroundNotExist' }}">
    <div class="container" style="height: 10rem;">
        <div class="row align-items-center" style="height: 100%;">
            <div class="col-xl-12">
                <div class="course-title-breadcrumb"
                    style="background-color: rgb(85 85 85 / 80%); padding: 5px 15px; border-radius: 5px;">
                    <h2 class="text-white mb-0">
                        {{ PageName }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero-area-end -->

<div class="blog-area pt-5 pb-90 padding-blog">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-main-wrapper mb-0">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="blog-wrapper position-relative blog-details-wrapper mb-30">
                                <div class="blog-content-wrapper">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-3 p-3 rounded-2 shadow-sm"
                                            style="background-color: #f8f9fb;">
                                            <div class="row mb-4">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <h5 class="mb-0">
                                                        Tentang Kami
                                                    </h5>
                                                </div>
                                            </div>

                                            <div *ngFor="let item of SideMenu; let i = index" class="row mb-3 ">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <p class="mb-0 {{ i == SideMenu.length - 1 ? '' : 'pb-3 border-bottom' }}"
                                                        (click)="handleClickSideMenu(item)">
                                                        <i class="fas fa-chevron-right"
                                                            style="font-size: 12px"></i>&nbsp;
                                                        {{ item.nama_menu }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-9 col-9 px-5">
                                            <div class="blog-content" [innerHTML]="Detail?.isi">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gap-3 align-items-center justify-content-center">
                        <div class="col-auto p-2" style="cursor: pointer; background-color: #4e71a8; font-size: 30px">
                            <a class="mb-0 text-white"
                                href="https://www.facebook.com/sharer/sharer.php?u=https://universitassimalungun.ac.id/halaman?page={{ PageName }}">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </div>
                        <div class="col-auto p-2" style="cursor: pointer; background-color: #1cb7eb; font-size: 30px">
                            <a class="mb-0 text-white"
                                href="http://www.twitter.com/share?url=https://universitassimalungun.ac.id/halaman?page={{ PageName }}">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="col-auto p-2" style="cursor: pointer; background-color: #0dc143; font-size: 30px">
                            <a class="mb-0 text-white"
                                href="https://wa.me/?text=https://universitassimalungun.ac.id/halaman?page={{ PageName }}">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footerone></app-footerone>