<!-- counter-area start -->
<div *ngIf="Program.length" class="counter-area py-5" style="background-color: #003971">
    <div class="container">
        <div class="row mb-5">
            <div class="col-xl-12 text-center">
                <div class="section-title mb-50">
                    <h2 class="text-white">Program <span class="down-mark-line-2">MBKM</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let item of Program" class="col-xl-4 col-lg-6 col-md-6 counter-col">
                <div class="counter-wrapper">
                    <div class="counter-icon position-relative">
                        <img [src]="item.photo" alt="photo" class="counter-photo">

                        <div class="count-number">
                            <span class="counter">
                                {{ item.judul }}
                            </span>
                            <p>
                                {{ (item.isi_singkat | slice: 0: 150) + '...' }}
                            </p>
                        </div>
                    </div>

                    <button *ngIf="item.isi_lengkap.length" class="edu-btn btn-sm" type="button"
                        (click)="handleRoute(item)">
                        Baca Selengkapnya
                    </button>

                    <button *ngIf="!item.isi_lengkap.length" class="edu-btn btn-sm" type="button" disabled>
                        Upcoming
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter-area start -->