// counter
@import "../../../../custom-palettes.scss";

.counter-wrapper {
  padding: 50px 30px 50px 30px;
  background-color: $theme-bg;
}

// homepage-2
.count-number {
  height: 170px;

  span {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
    color: $heading-color;
  }
  p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
  }
}
.counter-icon svg {
  margin-bottom: 30px;
}

.counter-wrapper {
  height: auto;
}

.counter-col {
  margin-bottom: 100px;

  @media only screen and (max-width: 992px) {
    margin-bottom: 30px;
  }
}

.counter-photo {
  width: 7rem;
  position: absolute;
  height: auto;
  top: -120px;
  left: 10px;

  @media only screen and (max-width: 992px) {
    width: 7rem;
    position: relative;
    height: auto;
    top: 0;
    left: 0;
    margin-bottom: 1rem;
  }
}

.edu-btn.btn-sm {
  height: 45px;
  line-height: 35px;
  font-size: 15px;
  width: 100%;
}
