<div class="sidebar__widget mb-30">
    <div class="sidebar__widget-head mb-35">
        <h4 class="sidebar__widget-title">Recent posts</h4>
    </div>
    <div class="sidebar__widget-content">
        <div class="rc__post-wrapper">
            <div *ngFor="let item of Recent" class="rc__post d-flex align-items-center">
                <div class="rc__content">
                    <div class="rc__meta">
                        <span>
                            {{ item.tanggal }}
                        </span>
                    </div>
                    <p class="rc__title">
                        <a (click)="handleRoute(item.id)">
                            {{ item.judul }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>