//mobile menu style
@import '../../../../../custom-palettes.scss';

.sidenav {
    margin-bottom: 50px;
}
.sidenav-nav-link {
    width: 100%;
    padding: 8px 0px;
    color: $heading-color;
    border-top: 1px solid $border;
    font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    cursor: pointer;
    font-family: $nunito;
    .sidenav-link-text {
        font-weight: 600;
    }
    .menu-collapse-icon {
        font-size: 24px;
    }
    &:hover {
        color: $heading-color;
    }
}
.sublevel-nav-link {
    width: 100%;
    padding: 8px 20px;
    color: $heading-color;
    border-top: 1px solid $border;
    font-size: 16px;
	display: flex;
	align-items: center;
    cursor: pointer;
    font-family: $nunito;
    &:hover {
        color: $theme-color;
    }
}
.active-sublevel {
    color: $theme-color;
}