<div class="sidenav sidenav-collapsed d-xl-none fix" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navData">
                <a class="sidenav-nav-link" (click)="handleClick(data)"
                    *ngIf="data.children && data.children.length > 0" [ngClass]="getActiveClass(data)">
                    <span class="sidenav-link-text" @fadeInOut>
                        {{data.nama_menu}}
                    </span>
                    <i *ngIf="data.children" class="menu-collapse-icon" [ngClass]="'fal fa-angle-right'"></i>
                </a>
                <a class="sidenav-nav-link" *ngIf="!data.children || (data.children && data.children.length === 0)"
                    [routerLink]="[data.url]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="shrinkItems(data)">
                    <span class="sidenav-link-text" @fadeInOut>
                        {{data.nama_menu}}
                    </span>
                </a>
                <div *ngIf="data.children && data.children.length > 0">
                    <app-sublevel-menu *ngIf="data.children && data.children.length > 0" [data]="data"
                        [collapsed]="collapsed" [multiple]="multiple" [expanded]="data.expanded">
                    </app-sublevel-menu>
                </div>
            </li>
        </ul>
    </div>
</div>