<app-headerfour></app-headerfour>

<app-breadcrumb breadcrumbTitle="Webinars" breadcrumbSubTitle="Webinars"></app-breadcrumb>

<!-- Webinars Area Start-->
<div class="edu-webinar-area pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="edu-webinar mb-30">
                    <div class="edu-webinar-img">
                        <img src="assets/img/webinar/webinar-img-1.jpg" alt="img not found">
                        <span class='webinar-badge'>Upcoming</span>
                    </div>
                    <div class="edu-webinar-text">
                        <h3 class="edu-webinar-text-title"><a [routerLink]="['/webinar-details']">WordPress Development
                                Course for Plugins</a></h3>
                        <ul>
                            <li><i class="far fa-calendar-alt"></i>12 Dec, 2023</li>
                            <li><i class="far fa-clock"></i> 10:00 PM</li>
                        </ul>
                        <p>Knowledge is power. Information is liberating. Education is the premise of progress,
                            in every society, in every family.</p>
                        <a [routerLink]="['/webinar-details']" class='edu-btn'>Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="edu-webinar mb-30">
                    <div class="edu-webinar-img">
                        <img src="assets/img/webinar/webinar-img-2.jpg" alt="img not found">
                        <span class='webinar-badge'>Upcoming</span>
                    </div>
                    <div class="edu-webinar-text">
                        <h3 class="edu-webinar-text-title"><a [routerLink]="['/webinar-details']">Master Google Docs:
                                Free online documents use</a></h3>
                        <ul>
                            <li><i class="far fa-calendar-alt"></i>11 Dec, 2023</li>
                            <li><i class="far fa-clock"></i> 10:00 PM</li>
                        </ul>
                        <p>Knowledge is power. Information is liberating. Education is the premise of progress,
                            in every society, in every family</p>
                        <a [routerLink]="['/webinar-details']" class='edu-btn'>Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="edu-webinar mb-30">
                    <div class="edu-webinar-img">
                        <img src="assets/img/webinar/webinar-img-2.jpg" alt="img not found">
                    </div>
                    <div class="edu-webinar-text">
                        <h3 class="edu-webinar-text-title"><a [routerLink]="['/webinar-details']">Python and Django Full
                                Stack Web Developer</a></h3>
                        <ul>
                            <li><i class="far fa-calendar-alt"></i>09 Jun, 2023</li>
                            <li><i class="far fa-clock"></i> 10:00 PM</li>
                        </ul>
                        <p>Knowledge is power. Information is liberating. Education is the premise of progress,
                            in every society, in every family</p>
                        <a [routerLink]="['/webinar-details']" class='edu-btn'>Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="edu-webinar mb-30">
                    <div class="edu-webinar-img">
                        <img src="assets/img/webinar/webinar-img-1.jpg" alt="img not found">
                    </div>
                    <div class="edu-webinar-text">
                        <h3 class="edu-webinar-text-title"><a [routerLink]="['/webinar-details']">Data Science Real-Life
                                Data Science Exercises Included</a></h3>
                        <ul>
                            <li><i class="far fa-calendar-alt"></i>08 Jun, 2023</li>
                            <li><i class="far fa-clock"></i> 10:00 PM</li>
                        </ul>
                        <p>Knowledge is power. Information is liberating. Education is the premise of progress,
                            in every society, in every family</p>
                        <a [routerLink]="['/webinar-details']" class='edu-btn'>Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="edu-webinar mb-30">
                    <div class="edu-webinar-img">
                        <img src="assets/img/webinar/webinar-img-1.jpg" alt="img not found">
                    </div>
                    <div class="edu-webinar-text">
                        <h3 class="edu-webinar-text-title"><a [routerLink]="['/webinar-details']">Become a Super Human:
                                Naturally and Safely Boost</a></h3>
                        <ul>
                            <li><i class="far fa-calendar-alt"></i>07 Jun, 2023</li>
                            <li><i class="far fa-clock"></i> 10:00 PM</li>
                        </ul>
                        <p>Knowledge is power. Information is liberating. Education is the premise of progress,
                            in every society, in every family</p>
                        <a [routerLink]="['/webinar-details']" class='edu-btn'>Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="edu-webinar mb-30">
                    <div class="edu-webinar-img">
                        <img src="assets/img/webinar/webinar-img-2.jpg" alt="img not found">
                    </div>
                    <div class="edu-webinar-text">
                        <h3 class="edu-webinar-text-title"><a [routerLink]="['/webinar-details']">Write Better Emails:
                                Tactics for Smarter Team</a></h3>
                        <ul>
                            <li><i class="far fa-calendar-alt"></i>06 Jun, 2023</li>
                            <li><i class="far fa-clock"></i> 10:00 PM</li>
                        </ul>
                        <p>Knowledge is power. Information is liberating. Education is the premise of progress,
                            in every society, in every family</p>
                        <a [routerLink]="['/webinar-details']" class='edu-btn'>Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Webinars Area End-->

<app-footerone></app-footerone>