<div class="sidebar-widget-wrapper">
    <div class="support-contact mb-30">
        <div class="support-tittle text-center">
            <h4>Kontak Umum</h4>
        </div>
        <div class="row">
            <!-- Whatsapp -->
            <div *ngFor="let item of Kontak" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 px-3 py-3">
                <div class="col-12 px-3 py-3 rounded-3 bg-white shadow text-center">
                    <div class="support-icon mb-3" style="font-size: 4rem;">
                        <i class="{{ item.icon }}"></i>
                    </div>
                    <div class="support-info-phone">
                        <span class="mb-0">{{ item.title }}</span>
                        <p>
                            <a [href]="item.url" style="font-weight: 600;" target="_blank">
                                {{ item.value }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>