<app-headertwo></app-headertwo>
<app-breadcrumb breadcrumbTitle="Program MBKM" breadcrumbSubTitle="Program MBKM"></app-breadcrumb>

<div class="blog-area pb-5" style="padding-top: 5rem">
    <div class="container">
        <div class="row">
            <div *ngFor="let item of Program" class="col-xl-4 col-lg-6 col-md-6 counter-col">
                <div class="counter-wrapper">
                    <div class="counter-icon position-relative">
                        <img [src]="item.photo" alt="photo" class="counter-photo">

                        <div class="count-number">
                            <span class="counter">
                                {{ item.judul }}
                            </span>
                            <p>
                                {{ (item.isi_singkat | slice: 0: 150) + '...' }}
                            </p>
                        </div>
                    </div>

                    <button *ngIf="item.isi_lengkap.length" class="edu-btn btn-sm" type="button"
                        (click)="handleRoute(item)">
                        Baca Selengkapnya
                    </button>

                    <button *ngIf="!item.isi_lengkap.length" class="edu-btn btn-sm" type="button" disabled>
                        Upcoming
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footerone></app-footerone>