<app-headertwo></app-headertwo>
<app-breadcrumb breadcrumbTitle="Pengumuman" breadcrumbSubTitle="Pengumuman"></app-breadcrumb>

<!-- blog-area-start -->

<div class="blog-area pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-main-wrapper mb-30">
                    <div class="row">
                        <div *ngFor="let item of Pengumuman" class="col-xl-4 col-lg-4 col-md-12">
                            <div class="blog-wrapper position-relative mb-30">
                                <div class="blog-thumb ">
                                    <a (click)="handleRoute(item.judul)">
                                        <img [src]="item.photo ? item.photo.gambar : ''" alt="img"
                                            style="height: 14rem; width: 100%; object-fit: cover; object-position: center;">
                                    </a>
                                </div>
                                <a class="blog-tag">
                                    <i class="fal fa-folder-open"></i>
                                    {{ item.kategori }}
                                </a>
                                <div class="blog-content-wrapper" style="height: 16rem;">
                                    <div class="row align-content-between" style="height: 100%;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="blog-meta">
                                                <div class="blog-date">
                                                    <i class="flaticon-calendar"></i>
                                                    <span>
                                                        {{ item.tanggal }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="blog-content">
                                                <a (click)="handleRoute(item.judul)">
                                                    <h5 class="mb-0">
                                                        {{
                                                        item.judul.length > 40
                                                        ? (item.judul | slice: 0: 40) + '...'
                                                        : item.judul + '...'
                                                        }}
                                                    </h5>
                                                </a>

                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <a class="blog-btn" (click)="handleRoute(item.judul)">
                                                Baca Selengkapnya
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <app-pagination [length]="Length" [pageSize]="PageSize" [pageNumber]="PageNumber"
                        (handlePageChange)="handlePageChange($event)">
                    </app-pagination>
                </div>
            </div>
            <div class="d-none col-xl-4 col-lg-8 col-md-8">
                <div class="sidebar-widget-wrapper">
                    <!-- <app-blogsearch></app-blogsearch> -->
                    <app-blogrecentpost></app-blogrecentpost>
                    <!-- <app-blogcategory></app-blogcategory> -->
                    <!-- <app-blogtags></app-blogtags> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-area-start -->

<app-footerone></app-footerone>