<app-headertwo></app-headertwo>
<app-breadcrumb breadcrumbTitle="Prestasi" breadcrumbSubTitle="Prestasi"></app-breadcrumb>

<!-- blog-area-start -->

<div class="blog-area pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-main-wrapper mb-30">
                    <div class="row">
                        <div *ngFor="let item of Testimoni" class="col-xl-4 col-lg-4 col-md-12">
                            <a (click)="handleRoute(item)">
                                <div class="categories-wrapper text-center mb-30" style="height: 26rem">
                                    <div *ngIf="item.photo" class="categiories-thumb mb-4">
                                        <img [src]="item.photo" alt="" class="image_testimoni">
                                    </div>

                                    <div *ngIf="!item.photo" class="image_testimoni mb-4 rounded-2"
                                        style="background-color: lightgrey;">

                                    </div>
                                    <div class="categories-content">
                                        <p style="font-size: 15px; font-weight: 600;" class="mb-0">
                                            {{ item.judul }}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <app-pagination [length]="Length" [pageSize]="PageSize" [pageNumber]="PageNumber"
                        (onPageChange)="handlePageChange($event)">
                    </app-pagination>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- blog-area-start -->

<app-footerone></app-footerone>